body{
    98%
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(137, 134, 134);
}
.logo {
    display: flex;
    align-items: center;

}
.nav-list ul{
    display: flex;
    justify-content: space-around;
}
.nav-list ul li{
    list-style: none;
    padding-right: 30px;

}
.nav-list ul li a{
    text-decoration: none;

}
main{
    width: 100vw;
}
/* section main banner start */
.agency-info{
    display: flex;
    align-items: center;
    height: 100vh;
    width: 98%;
    background-image: url("../asset//image/background.jpg "), linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    background-size: cover;
    
}
.agency-info-mid{
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 40%;
}
.agency-para{
    text-align: center;
}
.button-discover{
    background-color: red;
    color: antiquewhite;
    padding: 15px;
    border-radius: 5px solli;
}
.button-hire{
    padding: 15px;
    border-radius: 5px solli;
}
#digital{
    color: rgb(232, 13, 13);
}
.title{
   margin-bottom: 2px;
    font-size: 74px;
    color: antiquewhite;
}
.description{
    margin-top: 5px solli;
    font-size: 24px;
    color: antiquewhite;
}
/* section services start */
.services{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    background-image: url("../asset/image/footer-bg.png"), linear-gradient(rgb(76, 72, 72), rgba(42, 41, 41, 0.9));
    background-blend-mode: overlay;
    width: 98%;
 

}
.left-site{
    display: block;
    color: antiquewhite;
    margin: 30px;
    align-items: center;
}
.owner{
    display: flex;
    justify-content: start;
    align-items: center;
}
.owner-details{
    display: flex;
    align-items: center;
    text-align: center;
    border-right: 1px solid rgb(245, 44, 44);
}
.author-n-p{
    display: block;
    margin: 1px;
    padding-right: 10px;
}
#name{
margin:0;

}
#position{
 margin-top:0;
}

.btn-owner{
    background-color: aqua;
    color: rgb(9, 9, 9);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 70px;
}
.right-site{
    display: flex;
    margin: 30px;
    color: aliceblue;
}
.services-type-1{
    display: block;
    border: 5px solid green;
    text-align: center;
    color: aliceblue;
}
.services-type-2{
    display:block;
    border: 5px solid green;
    text-align: center;
    color: aliceblue;
}
.icon-size{
   background-color: white;
    width: 200px;
    padding: 20px;
    border-radius: 3px;
}
.services-box{
    width: 300px;
    height:300px;

}
/* start apointment section */
.apointment{
    display: flex;
    text-align: center;
    align-items: center;
    width: 70%;
    background-color: rgb(241, 48, 48);
    margin: 0 auto;
    height: 150px;
    border-radius: 10px;
    margin-top: -30px;
    color: bisque;
}
.cell{
    display: flex;
    align-items: center;
    margin: 10px;
}
.cell-logo{
    background-color: aqua;
    width: 50px;
    height: 50px;
    border-radius: 40px;
}
.cell-btn{
    background-color: rgb(43, 89, 226);
    color: antiquewhite;
    padding: 7px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}
.blog-news-area{
    display: block;
    text-align: center;
}
.blog{
    width: 60%;
    margin: 30px auto;

}
.blog-color{
    color: red;
}
.news{
    display: flex;
    
}
.news-poster-1{
    display: block;
    padding: 15px;
    height: 62vh;
    width: 30vw;
    margin: 15px;
    border: 2px solid rgb(145, 126, 126);
    border-radius: 5px;
    
}
.news-box{
    border: 10px solid rgb(191, 173, 173);
    border-radius: 15px;
    box-shadow:  5px 5px rgb(73, 61, 61);
   
}
.news-img{
    max-width: 25vw;
}
/* start a footer section work */
footer{
    display: block;

    
}
.footer-info{
    display: flex;
    align-items: center;
    background-image: url("../asset/image/footer-bg.png"),linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    color: rgb(244, 248, 236);
    padding-bottom: 30px;
    border-bottom: 2px solid red;
    justify-content: space-around;

}
.footer-size{
    margin-top: 100px;
    width: 70vw;
    display: flex;
    justify-content: space-around;
}
.footer-agency{
    display: block;
    padding: 0;
    width: 25vw;
    padding-right: 50px;

}
.footer-support{
    padding-left: 60px;
}
.footer-support >a{
    display: block;
    margin: 0;
    padding: 0;
    width: 25vw;
    text-decoration: none;
    color: rgb(244,248,236);
}
.footer-link > a{
    display: block;
    margin: 0;
    padding: 0;
    width: 25vw;
    text-decoration: none;
    color: rgb(244,248,236);
}
.footer-contact{
    display: block;
    margin: 0;
    padding: 0;
    width: 25vw;

}

.agency-copy{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 2px auto;
}
